* {
    margin: 0;
    padding: 0;
}
#banner {
    background: linear-gradient(rgba(0,0,0.2,0.2), #230c63), url(background.jpg);
    background-size: cover;
    background-position: center;
    height: 400vh;
}
.Logo {
    text-align: center;
    color: white;
    padding-top: 20px;
}
.banner-btn {
    margin: 80px auto 10px;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 150px 100px;
    padding: 12px 0;
    color: white;
    border: 0.5px solid wheat;
    position: relative;
    z-index: 1;
}
.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: aqua;
    z-index: -1;
    transition: 1s;
}
.banner-btn a:hover span{
    width: 100%;
}
#Action {
    width: 120px;
    height: 100vh;
    position: fixed;
    right: -200;
    top: 0;
    background: gray;
    z-index: 2;
    transition: 1s;
}
nav ul li {
    list-style: none;
    margin: 50px 40px;
}
nav ul a {
    margin: 0 -25px;
    text-decoration: none;
    color: black;
}
#menu {
    width: 50px;
    height: 50px;
    background: whitesmoke;
    text-align: center;
    position: fixed;
    right: 0;
    top: 0;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menu img {
    width: 20px;
    margin-top: 15px;
}
